

@use "vuetify/lib/styles/settings" as vuetify_settings;

@mixin avatar-font-sizes($map: $avatar-sizes) {
    @each $sizeName, $multiplier in vuetify_settings.$size-scales {
        
        $size: map-get($map, $sizeName);

        &.v-avatar--size-#{$sizeName} {
            font-size: #{$size}px;
        }
    }
}
